@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sevillana&display=swap');

:root {
    --color-primario: #0C0C0C;
    --color-secundario: #D4FBFF;
    --color-terciario:  #94C5EF ;
    --color-cuaternario: #FFFFFF;

    --fuente-primaria: "Josefin Sans", sans-serif;
    --fuente-secundaria: "Sevillana", sans-serif;
}

* {
    box-sizing:border-box;
    padding: 0; /* eliminar el padding */
    margin: 0; /* eliminar el margen */
}

.cybertheme {
    background-clip: inherit;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid #0C0C0C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

video {
    position:fixed;
    top:auto;
    left: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
} /* Video detrás del contenido */

header {
    font-family: var(--fuente-primaria);
    font-size: 1.5rem;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
}


.logo {
    display: flex;
    margin-left: auto;
    align-items: center;    
}


.container {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
}



.contenido {
    font-family: var(--fuente-primaria);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items;
    height: 100%;
}

textarea {
    font-family: var(--fuente-primaria);
    border-radius: 10px;
    resize: none;
    background-color: var(--color-secundario);
    font-size: 1.5rem;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
}

.contenido__condicion {
    font-family: var(--fuente-primaria);
    font-size: 1rem;
    background-color: var(--color-terciario);
}

.contenido__interaccion {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.result {
    background-color: var(--color-secundario);
    font-family: var(--fuente-primaria);
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
}

.result image{
    border-image: 20px;
}

.copy {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    width: 100%;
}

.pie__de_pagina {
    text-align: center;
    padding: 0.5%;
    background-color: var(--color-cuaternario);
    border-radius: 20px;
}

.script {
    /* Añade tu código JavaScript aquí si es necesario */
}

@media (max-width: 1023px) {
    .cybertheme {
        background-size: cover;
    }
    .container {
        flex-direction: column;
    }
}

